# Node modules
node_modules/
backend/node_modules/
frontend/node_modules/

# Environment files
.env
backend/.env
frontend/.env

# Build outputs


# Logs
*.log
logs/

# Database files & uploads
!backend/uploads/.gitkeep

# OS / Editor files
.DS_Store
.vscode/
.idea/
